body {
    height: 1080px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    overflow: hidden;
}

.game {
    position: relative;
    width: 1800px;
    height: 1000px;
    display: flex;
}

.field {
    width: 1600px;
    position: relative;
}

.field.pause {
    background-color: rgba(0, 0, 0, 0.3);
}

.tower-selection {
    position: absolute;
    display: block;
    top: 325px;
    left: 25px;
    background: rgba(0, 0, 0, 0);
    min-height: 300px;
    min-width: 300px;
}

.new-tower {
    display: block;
}

.choise-towers {
    position: relative;
}

.choise-tower {
    height: 75px;
    width: 75px;
    cursor: pointer;
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.archer {
    position: absolute;
    top: 0;
    left: 0;
}

.electric {
    position: absolute;
    top: 0;
    right: 0;
}

.mortir {
    position: absolute;
    top: -37.5px;
    left: calc(50% - 37.5px);
}

.cost-for-tower {
    top: 82px;
    cursor: default;
}

/* .tower-abilities {

} */

.choice-abilitie {
    position: relative;
}

.delete-tower {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: -37.5px;
    left: calc(50% - 25px);
    cursor: pointer;
}

.bar {
    width: 200px;
    background-color: #005799;
    display: flex;
    flex-direction: column;
}

.bar__bufs {
    width: 100%;
    height: 800px;
}

.buf-slot {
    position: relative;
    width: 200px;
    height: 200px;
    background: url("../images/BAR-SLOT.png") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fireball-buf__icon {
    width: 150px;
    height: 150px;
}

.fireball-buf__cancel {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.fireball-buf__reload {
    position: absolute;
    width: 200px;
    height: 150px;
    padding-top: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 100px;
    color: white;
    font-family: 'VT323';
    background-color: rgba(0, 0, 0, 0.3);
}

.freeze-buf__icon {
    width: 150px;
    height: 150px;
}

.freeze-buf__cancel {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.freeze-buf__reload {
    position: absolute;
    width: 200px;
    height: 150px;
    padding-top: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 100px;
    color: white;
    font-family: 'VT323';
    background-color: rgba(0, 0, 0, 0.3);
}

.healing-buf__icon {
    width: 150px;
    height: 150px;
}

.healing-buf__cancel {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.healing-buf__reload {
    position: absolute;
    width: 200px;
    height: 150px;
    padding-top: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 100px;
    color: white;
    font-family: 'VT323';
    background-color: rgba(0, 0, 0, 0.3);
}

.bar-game-info {
    width: 200px;
    height: 200px;
    font-family: 'VT323';
    font-size: 60px;
}

.game-info-slot {
    background: url("../images/bar_slot_mini.png") no-repeat;
    width: 100%;
    height: 50%;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.game-info-lvl__title {
    margin-right: 25px;
}

.bar__menu {
    background: url("../images/BAR-SLOT.png") no-repeat;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.bar-start {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-start__start-btn {
    color: white;
    font-weight: 400;
    font-size: 80px;
    font-family: 'VT323';
    cursor: pointer;
}

.active {
    color: black;
    cursor: default;
}

.bar__pause {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause__btn {
    width: 20px;
    height: 50px;
    cursor: pointer;
}

.pause__btn.play {
    border-left: 9px solid black;
    border-right: 9px solid black;
    /* border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 35px solid black; */
}

.pause__btn.pause {
    width: 0;
    height: 0;
    /* border-left: 3px solid white;
    border-right: 3px solid white; */
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 35px solid white;
}

.bar__out {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar__icon {
    width: 55px;
    height: 40px;
    display: block;
    position: relative;
    cursor: pointer;
}

.bar__icon span,
.bar__icon::before,
.bar__icon::after {
    position: absolute;
    left: 0;
    height: 7px;
    width: 100%;
    background-color: black;
}

.bar__icon::before,
.bar__icon::after {
    content: "";
}

.bar__icon::before {
    top: 0;
}

.bar__icon::after {
    bottom: 0;
}

.bar__icon span {
    top: 50%;
    transform: translate(0px, -50%);
}

.hidden {
    display: none;
}

.popupover__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popupover__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popupover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 1000px;
    padding: 25px;
    transition: 0.5s all;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popupover.active {
    transform: translate(-50%, -50%)scale(1);
    transition: 0.5s all;
}

.over {
    color: red;
    font-weight: 400;
    font-size: 100px;
    font-family: 'VT323';
    padding: 50px 0 20px;
}

.popupcomplete__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popupcomplete__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popupcomplete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 1000px;
    padding: 25px;
    transition: 0.5s all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popupcomplete.active {
    transform: translate(-50%, -50%)scale(1);
    transition: 0.5s all;
}

.complete {
    color: green;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 400;
    font-size: 100px;
    font-family: 'VT323';
}

.hp-bar {
    top: 25px;
    left: 625px;
    width: 225px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.hp-bar__hp._hide {
    visibility: hidden;
}

.count-coin {
    position: absolute;
    top: 0;
    left: 10px;
}

.count-coin__value {
    font-weight: 400;
    font-size: 100px;
    color: white;
    font-family: 'VT323';
}

.count-coin__img {
    top: 19px;
    left: 220px;
    width: 65px;
    height: 65px;
    position: absolute;
}

.count-score {
    position: absolute;
    top: 0;
    left: 320px;
    font-weight: 900;
    font-size: 80px;
    color: white;
}

.count-score__img {
    top: 19px;
    left: 208px;
    width: 65px;
    height: 65px;
    position: absolute;
}

.count-score__value {
    font-weight: 400;
    font-size: 100px;
    color: white;
    font-family: 'VT323';
}

.hp-bar__hp {
    transform: scale(1);
    transition: 0.3s all ease-in-out;
}

.hp-bar__hp._hide {
    transform: scale(0);
}

.next-lvl-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;

}

.next-lvl-btn {
    width: 350px;
    height: 120px;
    border: none;
    background-color: green;
    border-radius: 5px;
    font-weight: 400;
    color: white;
    font-family: 'VT323';
    font-size: 50px;
    transform: scale(1);
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.next-lvl-btn:hover {
    transform: scale(0.9);
}

.restart__img {
    width: 50px;
    height: 50px;
}

.score {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.score__title {
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 100px;
    font-family: 'VT323';
}

.score__value {
    color: black;
    font-weight: 300;
    font-size: 100px;
    font-family: 'VT323';
}

.menu {
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.menua {
    text-decoration: none;
}

.menu__img {
    width: 50px;
    height: 50px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.overbuttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.restart {
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.popup-game-over-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup-game-over-bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup-game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 1000px;
    padding: 25px;
    transition: 0.5s all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup-game-over.active {
    transform: translate(-50%, -50%)scale(1);
    transition: 0.5s all;
}

.popup-game-over__title {
    color: green;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 400;
    font-size: 100px;
    font-family: 'VT323';
}

.popup-game-over__subtitle {
    color: green;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 400;
    font-size: 40px;
    font-family: 'VT323';
}

.loading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.loading__text {
    color: white;
    font-family: 'VT323';
    font-size: 60px;
    text-align: center;
    
}

.loading .loading__0 {
    width: 0%;
    height: 15px;
    background: white;
    background-size: 353px 5px;
    animation: loading 5s ease-in-out forwards;
}

.loading .loading__100 {
    width: 100%;
    height: 15px;
    background: grey;
}

@keyframes loading {
    to {
        width: 100%;
    }
}

.loading-bg{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.loading-image{
    position: absolute;
}

.loading-field{
    position: absolute;
}

.waiting-screen {
    position: absolute;
    width: 100%;
    height: 1085px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wave-info {
    flex-direction: row;
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: -320px;
    gap: 5px;
    visibility: hidden;
}

.wave-info__text{
    color: white;
    font-family: 'VT323';
    font-size: 40px;
}

.wave-info__block{
    display: flex;
    flex-direction: row;
    align-items: center;
    visibility: hidden;
}
.next-over {
    background-color: red;
}