body {
    height: 1080px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    overflow: hidden;
}

.game {
    position: relative;
    width: 1800px;
    height: 1000px;
    display: flex;
}

.field {
    width: 1600px;
    position: relative;
}

.tower-selection {
    position: absolute;
    display: block;
    top: 325px;
    left: 25px;
    background: rgba(0, 0, 0, 0);
    min-height: 250px;
    min-width: 250px;
}

.new-tower {
    display: block;
}

.choise-towers {
    position: relative;
}

.choise-tower {
    height: 75px;
    width: 75px;
}

.archer {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.bash {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.mortir {
    position: absolute;
    bottom: -37.5px;
    left: calc(50% - 37.5px);
    cursor: pointer;
}

/* .tower-abilities {

} */

.choice-abilitie {
    position: relative;
}

.delete-tower {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: -37.5px;
    left: calc(50% - 25px);
    cursor: pointer;
}

.bar {
    width: 200px;
    background-color: #005799;
    display: flex;
    flex-direction: column;
}

.bar__bufs {
    width: 100%;
    height: 800px;
}

.baf-slot {
    position: relative;
    width: 200px;
    height: 200px;
    background: url("../images/BAR-SLOT.png") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fireball-buf__icon {
    width: 150px;
    height: 150px;
}

.fireball-buf__cancel {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.fireball-buf__reload {
    position: absolute;
    width: 200px;
    height: 140px;
    padding-top: 60px;
    text-align: center;
    font-weight: 900;
    font-size: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.bar__menu {
    background: url("../images/BAR-SLOT.png") no-repeat;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.bar-start {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-start__start-btn {
    color: white;
    font-weight: 400;
    font-size: 80px;
    font-family: 'VT323';
    cursor: pointer;
}

.active {
    color: #6E18C0;
    cursor: default;
}

.bar__pause {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause__btn {
    width: 0;
    height: 0;
    cursor: pointer;
}

.pause__btn.play {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 35px solid #6E18C0;
}

.pause__btn.pause {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 35px solid white;
}

.bar__out {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar__icon {
    width: 50px;
    height: 30px;
    display: block;
    position: relative;
    cursor: pointer;
}

.bar__icon span,
.bar__icon::before,
.bar__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #6E18C0;
    ;
}

.bar__icon::before,
.bar__icon::after {
    content: "";
}

.bar__icon::before {
    top: 0;
}

.bar__icon::after {
    bottom: 0;
}

.bar__icon span {
    top: 50%;
    transform: translate(0px, -50%);
}

.hidden {
    display: none;
}

.popupover__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popupover__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popupover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 1000px;
    padding: 25px;
    transition: 0.5s all;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popupover.active {
    transform: translate(-50%, -50%)scale(1);
    transition: 0.5s all;
}

.over {
    color: red;
    font-weight: 400;
    font-size: 100px;
    font-family: 'VT323';
    padding: 50px 0 20px;
}

.popupcomplete__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popupcomplete__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popupcomplete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 1000px;
    padding: 25px;
    transition: 0.5s all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popupcomplete.active {
    transform: translate(-50%, -50%)scale(1);
    transition: 0.5s all;
}

.complete {
    color: green;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 400;
    font-size: 100px;
    font-family: 'VT323';
}

.hp-bar {
    top: 25px;
    left: 625px;
    width: 225px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.hp-bar__hp._hide {
    visibility: hidden;
}

.count-coin {
    position: absolute;
    top: 0;
    left: 10px;
}

.count-coin__value {
    font-weight: 400;
    font-size: 100px;
    color: white;
    font-family: 'VT323';
}

.count-coin__img {
    top: 19px;
    left: 220px;
    width: 65px;
    height: 65px;
    position: absolute;
}

.count-score {
    position: absolute;
    top: 0;
    left: 320px;
    font-weight: 900;
    font-size: 80px;
    color: white;
}

.count-score__img {
    top: 19px;
    left: 208px;
    width: 65px;
    height: 65px;
    position: absolute;
}

.count-score__value {
    font-weight: 400;
    font-size: 100px;
    color: white;
    font-family: 'VT323';
}

.hp-bar__hp {
    transform: scale(1);
    transition: 0.3s all ease-in-out;
}

.hp-bar__hp._hide {
    transform: scale(0);
}

.next-lvl-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;

}

.next-lvl-btn {
    width: 350px;
    height: 120px;
    border: none;
    background-color: green;
    border-radius: 5px;
    font-weight: 400;
    color: white;
    font-family: 'VT323';
    font-size: 50px;
    transform: scale(1);
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.next-lvl-btn:hover {
    transform: scale(0.9);
}

.restart__img {
    width: 50px;
    height: 50px;
}

.score {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.score__title {
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 100px;
    font-family: 'VT323';
}

.score__value {
    color: black;
    font-weight: 300;
    font-size: 100px;
    font-family: 'VT323';
}

.menu {
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.menua {
    text-decoration: none;
}

.menu__img {
    width: 50px;
    height: 50px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.overbuttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.restart {
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding-top: 80px;
    padding-bottom: 30px;
}