body {
    height: 1080px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.menu {
    position: relative;
    width: 1800px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #CB4A01;
}

.menu-title {
    position: relative;
    margin-top: 100px;
    /* width: 600px; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-menu {
    background-image: url("../static/img/menu.svg");
    width: 520px;
    height: 133px;
    position: absolute;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button-start {
    background-image: url("../static/img/start.svg");
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.button-start:hover {
    box-shadow: 10px 20px 30px;
    color: purple;
}

.button-multiplay {
    background-image: url("../static/img/multiplay.svg");
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.button-multiplay:hover {
    box-shadow: 10px 20px 30px;
    color: purple;
}

.button-settings {
    background-image: url("../static/img/settings.svg");
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.button-settings:hover {
    box-shadow: 10px 20px 30px;
    color: purple;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    display: flex;
    flex-direction: column;
    color: black;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
    align-items: center;
}

.popup__close {
    position: absolute;
    right: -105px;
    top: -45px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.popup-buttons {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.popup-button__attack {
    cursor: pointer;
    display: inline-block;
    color: black;
    font-size: 125%;
    font-weight: 900;
    text-decoration: none;
    user-select: none;
    padding: 1.1em 3em;
    outline: none;
    border: 10px solid black;
    border-radius: 35px;
    background: #FAFF00;
    margin: 0;
    font-family: 'Holtwood One SC', serif;
    font-size: 40px;
}

.popup-button__defense {
    cursor: pointer;
    display: inline-block;
    color: black;
    font-size: 125%;
    font-weight: 900;
    text-decoration: none;
    user-select: none;
    padding: 1.1em 2.5em;
    outline: none;
    border: 10px solid black;
    border-radius: 35px;
    background: #FAFF00;
    margin: 0;
    margin-top: 50px;
    font-family: 'Holtwood One SC', serif;
    font-size: 40px;
}

.popup-button__attack:hover {
    box-shadow: 10px 20px 30px;
    color: purple;
}

.popup-button__defense:hover {
    box-shadow: 10px 20px 30px;
    color: purple;
}

.records {
    position: absolute;
    top: 0;
    left: 300px;
    font-weight: 900;
    font-size: 80px;
    color: white;
}

.records__img {
    top: 85px;
    left: 1350px;
    width: 100px;
    height: 100px;
    position: absolute;
} 

.popup__multiplay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: default;
}

.form-popup__title
{
    color: #EFEFEF;
    padding-bottom: 17px;
    font-size: 50px;
    /* max-width: 188px; */
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
    font-family: 'Holtwood One SC', serif;
}

.form-popup__info
{
    width: 90%;
    display: flex;
    justify-content: center;
    /* gap: 20px; */
}

.form-popup__nickname 
{
    box-sizing: border-box;
    text-align: center;
    border: 8px solid black;
    border-right: 4px solid black;
    height: 80px;
    width: 405px;
    padding: 0 10%;
    border-radius: 20px 0 0 20px;
    font-size: 23px;
    color: black;
}

.form-popup__submit 
{
    max-width: 125px;
    height: 80px;
    width: 150px;
    padding: 0px 20px;
    background: yellow;
    border-radius: 0 20px 20px 0;
    border: 8px solid black;
    border-left: 4px solid black;
    font: 400 12px/1.17 "Roboto";
    color: black;
    cursor: pointer;
    font-size: 23px;
}

.form-popup__submit :hover {
    background: #f44336;
    color: white;
  }

.popup__start
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: default;
}

