body {
    height: 1080px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    overflow: hidden;
}

.game {
    position: relative;
    width: 1800px;
    height: 1000px;
    display: flex;
}

.field {
    width: 1800px;
    position: relative;
}

.count-coin {
    position: absolute;
    top: 0;
    left: 10px;
    font-weight: 900;
    font-size: 80px;
    color: white;

}

.monsters_selector{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 128px;
    gap: 135px;
    margin-top: 247px;
}

.monster_selector{
    width: 200px;
    height: 200px;
}