body {
    height: 1080px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434343;
}

.game {
    position: relative;
    width: 1800px;
    height: 1000px;
    display: flex;
}

.field {
    width: 1600px;
    position: relative;
}

.tower-selection {
    position: absolute;
    display: block;
    top: 325px;
    left: 25px;
    background: rgba(0, 0, 0, 0);
    border: 0.1875em solid #0F1C3F;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    min-height: 250px;
    min-width: 250px;
}

.new-tower {
    display: block;
}

.choise-towers {
    position: relative;    
}

.choise-tower {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.tower1 {
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.tower2 {
    background: yellow;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.tower3 {
    background: blue;
    position: absolute;
    bottom: -37.5px;
    left: calc(50% - 37.5px);
    cursor: pointer;
}

/* .tower-abilities {

} */

.choice-abilitie {
    position: relative;
}

.delete-tower {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background: red;
    position: absolute;
    bottom: -37.5px;
    left: calc(50% - 37.5px);
    cursor: pointer;
}
    
.bar {
    width: 200px;
    background-color: #005799;
    display: flex;
    flex-direction: column;
}

.bar__bufs {
    width: 100%;
    height: 900px;
}

.bar__menu {
    width: 100%;
    height: 100px;
    background-color: green;
    display: flex;
}

.bar__pause {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause__btn {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 35px solid #6E18C0;
    cursor: pointer;
}

.bar__out {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar__icon {
    width: 50px;
    height: 30px;
    display: block;
    position: relative;
    cursor: pointer;
}

.bar__icon span,
.bar__icon::before,
.bar__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #6E18C0;;
}

.bar__icon::before,
.bar__icon::after {
    content: "";
}
    
.bar__icon::before {
    top: 0;
}
    
.bar__icon::after {
    bottom: 0;
}
    
.bar__icon span {
    top: 50%;
    transform: translate(0px, -50%);
}

.hidden {
    display: none;
}

.popupover__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all ;
}

.popupover__bg.active {
    opacity: 1; 
    pointer-events: all;
    transition: 0.5s all;
}

.popupover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 1000px;
    padding: 25px;
    transition: 0.5s all ;
    display: flex;
    justify-content: center;
}

.popupover.active {
    transform: translate(-50%, -50%)scale(1);
    transition: 0.5s all ;
}

.over {
    color:red;
    padding-top: 100px;
    padding-bottom: 100px;
}

.popupcomplete__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all ;
}

.popupcomplete__bg.active {
    opacity: 1; 
    pointer-events: all;
    transition: 0.5s all;
}

.popupcomplete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 1000px;
    padding: 25px;
    transition: 0.5s all ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popupcomplete.active {
    transform: translate(-50%, -50%)scale(1);
    transition: 0.5s all ;
}

.complete{
    color:green;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hp-bar {
    top: 30px;
    left: 1150px;
    width: 225px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.hp-bar__hp._hide{
    visibility: hidden;
}

.next-lvl-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    
}

.next-lvl-btn {
    width: 150px;
    height: 50px;
    border: none;
    background-color: green;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 17px;
    transform: scale(1);
    transition: 0.2s all ease-in-out;
}

.next-lvl-btn:hover {
    transform: scale(0.9);
}
